body {
    font-family: Arial;
    background: hotpink;
    padding: 20px;
    margin: 0%;
}

.container {
    background: blueviolet;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}

button {
    background: #281745;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #218838;
}

table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
}

th, td {
    border:1px solid #ddd;
    padding: 8px;
    text-align: center;
}

@media print {
    body * {
        visibility: hidden;
    }

    #strukBox, #strukBox * {
        visibility: visible;
    }

    #strukBox {
        position: absolute;
        top: 0;
        left: 0;
        width: 300px;

    }

#loginBox {
    margin-top: 100px;
}

}